@import "./variables";

.button {
  margin: 10px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 100px;
  border: none;

  &.primary {
    color: $secondary-color;
    background-color: $primary-color;
  }

  &.outline {
    border: solid 1px $primary-color;
    color: $primary-color;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: $primary-color;
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: 10px;
}

.input {
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: solid 1px #bbb;
  border-radius: 5px;
  font-family: "Kameron";
  font-size: 1.2rem;
}

h2.price {
  margin-bottom: 0.8rem;
}

p.header {
  font-weight: 700;
  color: $secondary-color;
  margin-bottom: 5px;
}

.text___muted {
  font-size: 0.8rem;
  color: $secondary-color;
}
