@import "./variables";

.form___inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  input {
    width: 40%;
  }

  button {
    width: 45%;
    margin: 10px 0;
  }
}

button {
  .primary {
    color: $secondary-color;
    background-color: $primary-color;
  }

  .outline {
    border: solid 1px $primary-color;
    color: $primary-color;
  }
}
